.skills-container{
    margin-top: 50px;
}
.skills-content{
    display: flex;
    width: 70vw;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-content .linguagens{
    background-color: var(--boxColor);
    margin: 0 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: var(--greenMain);

}
.linguagens i{
    font-size: 40px;
    padding: 10px;
}
@media screen and (max-width: 450px) {
    .skills-content{
        width: 100vw;
        display: flex;
    }
    .skills-content .linguagens{
        margin: 5px;
        width: 45%;
        align-items: center;
        justify-content: center;
    }
}